.audit-container {
  font-family: "FuturaPT", sans-serif;

  .controlzone-btn {
    font-weight: 500;
  }
}

.modal {
  font-family: "FuturaPT", sans-serif;

  .modal-content {
    h2 {
      font-weight: 700;
    }

    p {
      font-weight: 400;
    }

    .upload-label {
      font-weight: 500;
    }
  }
}
